.pane.has-footer > .main {
  padding-bottom: 5.25em;
}

.pane.translucent .footer>*:not(.always-on),
.pane.translucent .main>*:not(.always-on) {
  opacity: 0.2;
  pointer-events: none;
}

.light .pane {
  background: #fff;
}
