.button {
  border-radius: 0.2em;
  padding: 0.5em 1em;
  border: 0;
  color: #fff;
  background: rgba(255,255,255,0.25);
  outline: 0;
  transition: .2s ease all;
}

.light .button {
  background: rgba(0,0,0,0.2);
}

.button {
  cursor: pointer;
}

.button:hover {
  background: rgba(255,255,255,0.1);
}

.button span {
  font-size: 14px;
}

.light .button:hover {
  background: rgba(0,0,0,0.3);
}